@import "../../../scss/mixins";
@import "../../../scss/variables";

.container {
  @include flex-boiler;
  max-width: 20vw;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;

  ul {
    list-style-type: none;

    a {
      text-decoration: none;
      color: #24292e;
    }

    &:hover {
      cursor: pointer;
    }

    li {
      margin: 0.25em 0;
    }
  }
}
